# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files
*.c text eol=lf
*.h text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
